<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-4 border-0" 
    style="width: 350px; border-radius: 12px; color: #fbfbfb; background-color: #272626;">
    
    <h2 class="text-center mb-3 text-primary">Login</h2>

    <!-- Form with formGroup binding -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label fw-bold">Username</label>
        <input type="username" formControlName="username" class="form-control rounded-3 border border-secondary" required>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Email</label>
        <input type="email" formControlName="email" class="form-control rounded-3 border border-secondary" required>
      </div>

      <div class="mb-3">
        <label class="form-label fw-bold">Password</label>
        <input type="password" formControlName="password" class="form-control rounded-3 border border-secondary" required>
      </div>

       <!-- Button with spinner -->
       <button type="submit" class="btn w-100 text-white d-flex align-items-center justify-content-center" 
       style="background-color: #FF8C00;" [disabled]="loading">
       
       <span *ngIf="loading" class="spinner-border spinner-border-sm me-2"></span>
       {{ loading ? 'Logging in...' : 'Login' }}
     </button>
    </form>

    <p class="text-center mt-3">
      Don't have an account?
      <button class="btn w-100 text-white" style="background-color: #272727;" (click)="onClickRegister()">
        Register
      </button>
    </p>

  </div>
</div>
